@model BonusMvcStok.Models.Entity.tblkategori
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <h3 style="color:cornflowerblue">Yeni Kategori Ekle</h3><br />
    <label>Kategori Adını Giriniz</label>
    <input type="text" class="form-control" name="ad" placeholder="Kategori Adı" required /><br />
    <button class="btn btn-warning">Kaydet</button>
</form>